<div id="<%= dom_id employee %>">
  <p>
    <strong>Nombre:</strong>
    <%= employee.nombre %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= employee.apellido %>
  </p>

  <p>
    <strong>Documento:</strong>
    <%= employee.documento %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= employee.direccion %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= employee.telefono %>
  </p>

</div>
