<div class="card mb-4">
  <h5 class="card-header">
    <%= t('form')%>
  </h5>
  <div class="card-body">
    <%= simple_form_for employee, class: 'form-floating' do |f| %>
      <div class='row'>
        <div class="col-xl-4 mb-3">
          <div class='form-floating'>
            <%= f.input_field :name, class:'form-control', 'aria-describedby':"floatingInputHelp", autofocus: true %>
            <%= f.label :name, for: 'floatingInput' %>
          </div>
        </div>
        <div class="col-xl-4 mb-3">
          <div class='form-floating'>
          <%= f.input_field :last_name, class:'form-control', 'aria-describedby':"floatingInputHelp" %>
          <%= f.label :last_name , for: 'floatingInput' %>
          </div>
        </div>
        <div class="col-xl-4 mb-3">
          <div class='form-floating'>
            <%= f.input_field :document, class:'form-control', 'aria-describedby':"floatingInputHelp" %>
            <%= f.label :document, for: 'floatingInput' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 mb-3">
          <div class='form-floating'>
            <%= f.input_field :address, class:'form-control', 'aria-describedby':"floatingInputHelp" %>
            <%= f.label :address, for: 'floatingInput' %>
          </div>
        </div>
        <div class="col-xl-2 mb-3">
          <div class='form-floating'>
            <%= f.input_field :phone, class:'form-control', 'aria-describedby':"floatingInputHelp" %>
            <%= f.label :phone, for: 'floatingInput' %>
          </div>
        </div>
        <div class="col-xl-4 mb-3">
          <div class='form-floating'>
            <%= f.input_field :position, class:'form-control', 'aria-describedby':"floatingInputHelp" %>
            <%= f.label :position, for: 'floatingInput' %>
          </div>
        </div>
      </div>
      <%= f.fields_for :user do |user_fields| %>
        <div class="col-xl-4 mb-3">
          <div class='form-floating'>
            <%= user_fields.input_field :email, class:'form-control', 'aria-describedby':"floatingInputHelp" %>
            <%= user_fields.label :email, for: 'floatingInput' %>
          </div>
        </div>
        <div class="col-xl-4 mb-3">
          <div class='form-floating'>
            <%= user_fields.input_field :password, class:'form-control', 'aria-describedby':"floatingInputHelp" %>
            <%= user_fields.label :password, for: 'floatingInput' %>
          </div>
        </div>
        <div class="col-xl-4 mb-3">
          <div class='form-floating'>
            <%= user_fields.input_field :password_confirmation, class:'form-control', 'aria-describedby':"floatingInputHelp" %>
            <%= user_fields.label :password_confirmation, for: 'floatingInput' %>
          </div>
        </div>
      <% end %>
      <div class='col-xl-2 d-grid gap-2'>
        <%= f.button 'submit', class: 'btn btn-primary btn-block' %>
      </div>
    <% end %>
  </div>
</div>
