<%= render 'search_form', ransack: @ransack %>

<div class="card">
  <h5 class="card-header">
    <%= t('activerecord.models.employee.other') %>
    <%= link_to t('buttons.new'), new_employee_path, class: 'btn btn-primary' %>
  </h5>
  <div class="table-responsive text-nowrap">
    <table class="table">
      <caption class="ms-4">

        <div class="d-flex align-items-center justify-content-between">
          <div class="mr-auto">
            <%= page_entries_info @employees, entry_name: 'item' %>
          </div>
          <%= paginate @employees, remote: true %>
        </div>
      </caption>
      <thead>
      <tr>
        <%= search_form_for @ransack do |f| %>
          <th>
            <%= sort_link(@ransack, :name, t('activerecord.attributes.employee.name'), default_order: :asc) %>
          </th>
          <th>
            <%= sort_link(@ransack, :last_name, t('activerecord.attributes.employee.last_name'), default_order: :asc) %>
          </th>
          <th>
            <%= sort_link(@ransack, :document, t('activerecord.attributes.employee.document'), default_order: :asc) %>
          </th>
          <th>
            <%= sort_link(@ransack, :address, t('activerecord.attributes.employee.address'), default_order: :asc) %>
          </th>
          <th>
            <%= sort_link(@ransack, :phone, t('activerecord.attributes.employee.phone'), default_order: :asc) %>
          </th>
          <th class="d-print-none"></th>
        <% end %>
      </tr>
    </thead>
  <tbody>
  <% @employees.each do |employee| %>
        <tr>
          <td><strong><%= employee.name %></strong></td>
          <td><%= employee.last_name %></td>
          <td><%= employee.document %></td>
          <td><%= employee.address %></td>
          <td><%= employee.phone %></td>
          <td class="d-print-none">
            <%= render(partial: 'components/action_buttons', locals: { model: employee })%>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
