<div class="table-responsive text-nowrap">
  <table class="table table-sm table-hover">
    <caption class="ms-4">
      <div class="d-flex align-items-center justify-content-between">
        <div class="mr-auto">
          <%= page_entries_info @work_orders, entry_name: 'item' unless @work_orders.empty? %>
        </div>
        <%= paginate @work_orders, remote: true unless @work_orders.empty?%>
      </div>
    </caption>
    <thead>
    <tr>
      <%= simple_search_form_for @ransack do |f| %>
        <th>
          <%= helpers.sort_link(@ransack, :start_date, t('activerecord.attributes.work_order.start_date'), default_order: :desc) %>
        </th>
        <th>
          <%= helpers.sort_link(@ransack, :number, t('activerecord.attributes.work_order.number'), default_order: :desc) %>
        </th>
        <th>
          <%= helpers.sort_link(@ransack, :car_plate_number, t('activerecord.attributes.work_order.car'), default_order: :desc) %>
        </th>
        <th><%= t('activerecord.attributes.work_order.description')%></th>
        <th>
          <%= helpers.sort_link(@ransack, :city, t('activerecord.attributes.work_order.city'), default_order: :desc) %>
        </th>
        <th>
          <%= helpers.sort_link(@ransack, :duration, t('activerecord.attributes.work_order.duration'), default_order: :desc) %>
        </th>
        <th>
          <%= helpers.sort_link(@ransack, :start_mileage, t('activerecord.attributes.work_order.start_mileage'), default_order: :desc) %>
        </th>
        <th>
          <%= helpers.sort_link(@ransack, :final_mileage, t('activerecord.attributes.work_order.final_mileage'), default_order: :desc) %>
        </th>
        <th>
          <%= helpers.sort_link(@ransack, :distance, t('activerecord.attributes.work_order.distance'), default_order: :desc) %>
        </th>
        <th>
          <%= helpers.sort_link(@ransack, :employee_full_name, t('activerecord.attributes.work_order.employee'), default_order: :desc) %>
        </th>
        <th><%= t('activerecord.attributes.work_order.status')%></th>
        <th class="d-print-none"></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @work_orders.each do |work_order| %>
      <tr>
        <td><%= l(work_order.start_date) %></td>
        <td><%= link_to work_order.number, edit_work_order_path(work_order) %></td>
        <td><%= link_to work_order.car_plate_number, car_path(work_order.car) %></td>
        <td><%= work_order.description&.truncate(45) %></td>
        <td><%= work_order.city %></td>
        <td><%= work_order.workdays %></td>
        <td><%= work_order.start_mileage %></td>
        <td><%= work_order.final_mileage %></td>
        <td><%= work_order.distance %></td>
        <td><%= work_order.employee_full_name %></td>
        <td><%= helpers.add_status(work_order.status) %></td>
        <td class="d-print-none">
          <%= render(partial: 'components/action_buttons', locals: { model: work_order })%>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
