<%#= render 'search_form', ransack: @ransack %>

<div class="card">
  <h5 class="card-header">
    <%= t('activerecord.models.notification.other') %>
  </h5>

  <div class="table-responsive text-nowrap">
    <table class="table">
      <caption class="ms-4">
        <div class="d-flex align-items-center justify-content-between">
          <div class="mr-auto">
            <%= page_entries_info @notifications, entry_name: 'item' %>
          </div>
          <%= paginate @notifications, remote: true %>
        </div>
      </caption>
      <thead>
      <tr>
        <th>
          <%= t('activerecord.attributes.notification.message') %>
        </th>
        <th>
          <%= t('activerecord.attributes.notification.status') %>
        </th>
      </tr>
      </thead>
      <tbody>
      <% @notifications.each do |notification| %>
        <tr>
          <td><strong><%= link_to notification.params[:message], user_notification_path(@user, notification) %></strong></td>
          <td><%= content_tag(:span, "Sin leer", class: 'badge bg-label bg-primary') if notification.unread? %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
