<div class="card mb-4">
  <h5 class="card-header">
    <%= t('.form')%>
  </h5>
  <div class="card-body">
    <%= simple_form_for maintenance, class: 'form-floating' do |f| %>
      <div class='row mb-3'>
        <div class="col-4">
          <div data-controller="datepicker">
            <div class="input-group">
              <div class='form-floating'>
                <%= f.input_field :date,
                                  as: :string,
                                  class:'form-control',
                                  'aria-describedby':"floatingInputHelp",
                                  autofocus: true,
                                  'data-datepicker-target': 'input',
                                  'data-datepicker-format-value': "%-d %b %y"
                %>
                <%= f.label :date, for: 'floatingInput' %>
              </div>
              <span id="basic-default-password2" data-datepicker-target="toggle" class="input-group-text cursor-pointer"><i class="bx bx-calendar"></i></span>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class='form-floating'>
            <%= f.association :mechanical_workshop, as: :string, class:'form-control', 'aria-describedby':"floatingInputHelp" %>
            <%= f.label :mechanical_workshop, for: 'floatingInput'  %>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-4">
          <div class='form-floating'>
            <%= f.input_field :budget, class:'form-control', 'aria-describedby':"floatingInputHelp" %>
            <%= f.label :budget, for: 'floatingInput' %>
          </div>
        </div>
        <div class="col-4">
          <div class='form-floating'>
            <%= f.association :car, class:'form-control'%>
            <%= f.label :car %>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='mb-3'>
          <div class='form-floating'>
            <%= f.input_field :description,
                              as: :text,
                              class:'form-control',
                              'aria-describedby':"floatingInputHelp",
                              cols: 5,
                              rows: 10
            %>
            <%= f.label :description, for: 'floatingInput' %>
          </div>
        </div>
      </div>
      <div class='mb-3'>
        <%= f.button 'submit', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
