<div id="<%= dom_id maintenance %>">
  <p>
    <strong>Date:</strong>
    <%= maintenance.date %>
  </p>

  <p>
    <strong>Mechanical workshop:</strong>
    <%= maintenance.mechanical_workshop_id %>
  </p>

  <p>
    <strong>Budget:</strong>
    <%= maintenance.budget %>
  </p>

  <p>
    <strong>Car:</strong>
    <%= maintenance.car_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= maintenance.description %>
  </p>

</div>
