<%= render 'search_form', ransack: @ransack %>

<div class="card">
  <h5 class="card-header">
    <%= t('activerecord.models.maintenance.other') %>
    <%= link_to t('buttons.new'), new_maintenance_path, class: 'btn btn-primary' %>
    <%= link_to content_tag(:i, nil, class: 'bx bx-spreadsheet'),
                maintenances_path(params: session['maintenances'], format: 'xlsx' ),
                class: 'btn btn-secondary',
                title: 'Exportar a Excel'%>
  </h5>
  <%= render(MaintenanceTableComponent.new(maintenances: @maintenances, ransack: @ransack)) %>
</div>