<div class="card mb-4">
  <h5 class="card-header">
    <%= t('form')%>
  </h5>
  <div class="card-body">
    <%= simple_form_for(@insurance_plan) do |f| %>
      <div class='row'>
        <div class='col-xl-4 mb-3'>
          <div class='form-floating'>
            <%= f.input_field :contract_date,
                              as: :string,
                              class: 'form-control',
                              data: {
                                controller: "flatpickr",
                                flatpickr_default_date: f.object.contract_date
                              }
            %>
            <%= f.label :contract_date, for: 'floatingInput' %>
          </div>
        </div>
        <div class="col-xl-4 mb-3">
          <div class='form-floating'>
            <%= f.input_field :expiry_date,
                              as: :string,
                              class: 'form-control',
                              data: {
                                controller: "flatpickr",
                                flatpickr_default_date: f.object.expiry_date
                              }
            %>
            <%= f.label :expiry_date, for: 'floatingInput' %>
          </div>
        </div>
        <div class='col-xl-4 mb-3'>
          <div class='form-floating'>
            <%= f.input_field :type_coverage, class:'form-control', 'aria-describedby':"floatingInputHelp" %>
            <%= f.label :type_coverage, for: 'floatingInput' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class='form-floating col-xl-6 mb-3'>
          <%= f.association :cars, collection: Car.all.page(0),
                            include_blank: true,
                            placeholder: t("activerecord.models.car.other"),
                            input_html: {
                              data: {
                                controller: 'ts--select',
                                multiple:true, class: 'multiselectuser',
                                'ts--select-url-value': cars_path,
                                searcher: "q[plate_number_cont]"
                              }
                            }
          %>
        </div>
        <div class='form-floating col-xl-6 mb-3'>
          <%= f.association :insurance_carrier, collection: InsuranceCarrier.all.page(0),
                            include_blank: true,
                            placeholder: t("activerecord.attributes.insurance_plan.insurance_carrier"),
                            input_html: {
                              data: {
                                 controller: 'ts--select',
                                 'ts--select-url-value': suppliers_path,
                                 searcher: "q[name_start]"
                              }
                            }
          %>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 mb-3">
          <div class='form-floating'>
            <%= f.input_field :amount, class:'form-control', 'aria-describedby':"floatingInputHelp" %>
            <%= f.label :amount, for: 'floatingInput' %>
          </div>
        </div>
      </div>
      <div class='col-xl-2 d-grid gap-2'>
        <%= f.button 'submit', class: 'btn btn-primary btn-block' %>
      </div>
    <% end %>
  </div>
</div>
