<div id="<%= dom_id insurance_plan %>">
  <p>
    <strong>Contract date:</strong>
    <%= insurance_plan.contract_date %>
  </p>

  <p>
    <strong>Car:</strong>
    <%= insurance_plan.car_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= insurance_plan.amount %>
  </p>

  <p>
    <strong>Exp date:</strong>
    <%= insurance_plan.exp_date %>
  </p>

</div>
