<%= render 'search_form', ransack: @ransack %>

<div class="card">
  <h5 class="card-header">
    <%= t('activerecord.models.insurance_plan.other') %>
    <%= link_to t('buttons.new'), new_insurance_plan_path, class: 'btn btn-primary' %>
  </h5>

  <div class="table-responsive text-nowrap">
    <table class="table table-sm table-hover">
      <caption class="ms-4">

        <div class="d-flex align-items-center justify-content-between">
          <div class="mr-auto">
            <%= page_entries_info @insurance_plans, entry_name: 'item' %>
          </div>
          <%= paginate @insurance_plans, remote: true %>
        </div>
      </caption>
      <thead>
      <tr>
        <%= search_form_for @ransack do |f| %>
          <th>
            <%= sort_link(@ransack, :contract_date, t('activerecord.attributes.insurance_plan.contract_date'), default_order: :desc) %>
          </th>
          <th><%= t('activerecord.attributes.insurance_plan.expiry_date')%></th>
          <th><%= t('activerecord.attributes.insurance_plan.type_coverage')%></th>
          <th><%= t('activerecord.attributes.insurance_plan.cars')%></th>
          <th><%= t('activerecord.attributes.insurance_plan.insurance_carrier')%></th>
          <th><%= t('activerecord.attributes.insurance_plan.amount')%></th>
          <th class="d-print-none"></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @insurance_plans.each do |insurance_plan| %>
        <tr>
          <td><strong><%= datetime_format(insurance_plan.contract_date)%></strong></td>
          <td><%= datetime_format(insurance_plan.expiry_date)%></td>
          <td><%= insurance_plan.type_coverage %></td>
          <td><%= insurance_plan.cars.map {|car| car.to_s }.to_sentence %></td>
          <td><%= insurance_plan.insurance_carrier_name%></td>
          <td><%= insurance_plan.amount %></td>
          <td class="d-print-none">
            <%= render(partial: 'components/action_buttons', locals: { model: insurance_plan })%>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>