<div class="card mb-4">
  <h5 class="card-header">
    <%= t('form')%>
  </h5>
  <div class="card-body">
    <%= simple_form_for work_order, class: 'form-floating', novalidate: true do |f| %>
      <div class='row'>
        <div class="col-xl-2">
          <div class='mb-3'>
            <div class='form-floating'>
              <%= f.input_field :number,
                                class: 'form-control',
                                'aria-describedby': "floatingInputHelp",
                                value: f.object.number || last_number
              %>
              <%= f.label :number, for: 'floatingInput' %>
            </div>
          </div>
        </div>
        <div class="col-xl-2">
          <div class='mb-3'>
            <div class='form-floating'>
              <%= f.input_field :start_date,
                                as: :string,
                                class: 'form-control',
                                data: {
                                  controller: "flatpickr",
                                  flatpickr_enable_time: true
                                },
                                autofocus: true
              %>
              <%= f.label :start_date, for: 'floatingInput' %>
            </div>
          </div>
        </div>
        <div class="col-xl-2">
          <div class='mb-3'>
            <div class='form-floating'>
              <%= f.input_field :final_date,
                                as: :string,
                                class: 'form-control',
                                data: {
                                  controller: "flatpickr",
                                }
              %>
              <%= f.label :final_date, for: 'floatingInput' %>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class='mb-3'>
            <div class='form-floating'>
              <%= f.input_field :city, class: 'form-control', 'aria-describedby': "floatingInputHelp" %>
              <%= f.label :city, for: 'floatingInput' %>
            </div>
          </div>
        </div>
        <div class="col-xl-2">
          <div class='mb-3'>
            <div class='form-floating'>
              <%= f.input_field :status,
                                class: 'form-control',
                                'aria-describedby': "floatingInputHelp",
                                selected: f.object.status || :requested,
                                onlyread: true
              %>
              <%= f.label :status, for: 'floatingInput' %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-8">
          <div class='form-floating mb-3'>
            <%= f.association :car,
                              collection: f.object.car ? [f.object.car] : Car.all.page(0),
                              include_blank: true,
                              placeholder: t("activerecord.attributes.work_order.car"),
                              input_html: {
                                data: {
                                  controller: 'ts--select',
                                  'ts--select-url-value': cars_path,
                                  searcher: "q[plate_number_cont]"
                                }
                              }
            %>
          </div>
        </div>
        <div class="col-xl-2">
          <div class='form-floating mb-3'>
            <%= f.input_field :area, class: 'form-control', 'aria-describedby':"floatingInputHelp", autocomplete: true%>
            <%= f.label :area, for: 'floatingInput' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class='form-floating mb-3'>
          <%= f.input_field :description,
                            as: :text,
                            class: 'form-control',
                            'aria-describedby': "floatingInputHelp",
                            cols: 5,
                            rows: 10
          %>
          <%= f.label :description, for: 'floatingInput' %>
        </div>
      </div>
      <% unless work_order.requested? %>
    <div class="divider text-start-center">
            <div class="divider-text">Completar al finalizar</div>
    </div>
    <div class="row">
      <div class="col-xl-4">
        <div class='form-floating mb-3'>
          <%=  f.input_field :start_mileage, class: 'form-control', 'aria-describedby':"floatingInputHelp"  %>
          <%= f.label :start_mileage, for: 'floatingInput' %>
        </div>
      </div>
      <div class='col-xl-4'>
        <div class='form-floating mb-3'>
          <%=  f.input_field :final_mileage, class: 'form-control', 'aria-describedby':"floatingInputHelp"  %>
          <%= f.label :final_mileage, for: 'floatingInput' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class='form-floating mb-3'>
        <%=  f.association :employee, collection: f.object.employee ? [f.object.employee] : Employee.all.page(0),
                              include_blank: true,
                              placeholder: t("activerecord.attributes.work_order.employee"),
                              input_html: {
                                data: {
                                  controller: 'ts--select',
                                  'ts--select-url-value': employees_path
                                }
                              }
             %>
      </div>
    </div>
    <%  end %>
      <div class='col-xl-2 d-grid gap-2'>
        <%= f.button 'submit', class: 'btn-primary btn-block' %>
      </div>
    <% end %>
      <div class='mt-2'>
        <% if can? :authorize, WorkOrder %>
          <%= button_to t('authorize'),
                        work_order_path(work_order),
                        method: :put,
                        params: {work_order: {status: :authorized}},
                        remote: true,
                        data: { confirm: t('buttons.confirm') },
                        class: 'btn btn-secondary' if work_order.requested? && work_order.persisted? %>
        <%end %>
        <%= button_to t('finish'),
                      work_order_path(work_order),
                      method: :put,
                      params: {work_order: {status: :finished}},
                      remote: true,
                      data: { confirm: t('buttons.confirm') },
                      class: 'btn btn-secondary' if work_order.authorized? %>
      </div>
  </div>
  <div class="card-footer text-right">
    <small class="text-light fw-semibold">
      <%= "Solicitado por #{work_order.requested_by.email} el #{datetime_format(work_order.requested_on)}" if work_order.requested_by %>
    </small>
    <br>
    <small class="text-light fw-semibold">
      <%= "Autorizado por #{work_order.authorized_by.email} el #{datetime_format(work_order.authorized_on)}" if work_order.authorized_by %>
    </small>
    <br>
    <small class="text-light fw-semibold">
      <%= "Finalizado por #{work_order.finished_by.email} el #{datetime_format(work_order.finished_on)}" if work_order.finished_by %>
    </small>
  </div>
</div>
