<div class="card mb-4">
  <h5 class="card-header">
    <%= t('form')%>
  </h5>
  <div class="card-body">
    <%= simple_form_for work_order, class: 'form-floating', novalidate: true do |f| %>
      <div class='row'>
        <div class="col-2">
          <div class='mb-3'>
            <div class='form-floating'>
              <%= f.input_field :number,
                                class:'form-control',
                                'aria-describedby':"floatingInputHelp",
                                value: f.object.number || last_number,
                                autofocus: true
              %>
              <%= f.label :number, for: 'floatingInput' %>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class='form-floating'>
            <%= f.input_field :date,
                              as: :string,
                              class: 'form-control',
                              data: {
                                controller: "flatpickr",
                                flatpickr_default_date: f.object.date || [Time.now, Time.now],
                                flatpickr_enable_time: true,
                                flatpickr_mode: "range"
                              },
                              value: f.object.date
            %>
            <%= f.label :date, for: 'floatingInput' %>
          </div>
        </div>
        <div class="col-4">
          <div class='mb-3'>
            <div class='form-floating'>
              <%= f.input_field :city, class:'form-control', 'aria-describedby':"floatingInputHelp" %>
              <%= f.label :city, for: 'floatingInput' %>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class='mb-3'>
            <div class='form-floating'>
              <%= f.input_field :status,
                                class:'form-control',
                                'aria-describedby':"floatingInputHelp",
                                selected: f.object.status,
                                readonly: true if f.object.status
              %>
              <%= f.label :status, for: 'floatingInput' if f.object.status %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class='form-floating mb-3'>
          <%= f.association :car, collection: Car.all.page(0),
                            include_blank: true,
                            placeholder: t("activerecord.models.car.one"),
                            input_html: {
                              data: {
                                controller: 'ts--select',
                              'ts--select-url-value': cars_path
                              }
                            }
          %>
        </div>
      </div>
      <div class="row">
        <div class='form-floating mb-3'>
          <%= f.input_field :description,
                            as: :text,
                            class:'form-control',
                            'aria-describedby':"floatingInputHelp",
                            cols: 5,
                            rows: 10
          %>
          <%= f.label :description, for: 'floatingInput' %>
        </div>
      </div>
      <% if work_order.authorized? %>
      <div class="divider text-start-center">
        <div class="divider-text">Completar al finalizar</div>
      </div>
      <div class="row mb-3">
        <div class="col-4">
          <div class='form-floating'>
            <%= f.input_field :workdays, class:'form-control', 'aria-describedby':"floatingInputHelp" %>
            <%= f.label :workdays, for: 'floatingInput' %>
          </div>
        </div>
        <div class="col-4">
          <div class='form-floating'>
            <%= f.input_field :start_mileage, class:'form-control', 'aria-describedby':"floatingInputHelp" %>
            <%= f.label :start_mileage, for: 'floatingInput' %>
          </div>
        </div>
        <div class='col-4'>
          <div class='form-floating'>
            <%= f.input_field :final_mileage, class:'form-control', 'aria-describedby':"floatingInputHelp" %>
            <%= f.label :final_mileage, for: 'floatingInput' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class='form-floating mb-3'>
          <%= f.input_field :employee_id, class:'form-control', 'aria-describedby':"floatingInputHelp" %>
          <%= f.label :employee, for: 'floatingInput' %>
        </div>
      </div>
      <% end %>
      <div class='mt-2'>
        <%= f.button 'submit', class: 'btn btn-primary' unless f.object.finished?%>
        <%= button_to t('authorize'),
                      work_order_path(work_order),
                      method: :put,
                      params: {work_order: {status: :authorized}},
                      remote: true,
                      data: { confirm: t('buttons.confirm') },
                      class: 'btn btn-secondary' if work_order.requested? %>
        <%= button_to t('finish'),
                      work_order_path(work_order),
                      method: :put,
                      params: {work_order: {status: :finished}},
                      remote: true,
                      data: { confirm: t('buttons.confirm') },
                      class: 'btn btn-secondary' if work_order.authorized? %>
      </div>
    <% end %>
  </div>
</div>
