<div id="<%= dom_id work_order %>">
  <p>
    <strong>Date:</strong>
    <%= work_order.date %>
  </p>

  <p>
    <strong>Requested by:</strong>
    <%= work_order.requested_by %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= work_order.reason %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= work_order.manager %>
  </p>

</div>
