<%= render "search_form", ransack: @ransack %>

<div class="card">
  <h5 class="card-header">
    <%= t('activerecord.models.work_order.other') %>
    <% if can? :create, WorkOrder %>
      <%= link_to t('buttons.new'), new_work_order_path, class: 'btn btn-primary' %>
      <%= link_to content_tag(:i, nil, class: 'bx bx-spreadsheet'),
                  work_orders_path(params: session['work_orders'], format: 'xlsx' ),
                  class: 'btn btn-secondary' %>
    <% end %>
  </h5>

  <div class="table-responsive text-nowrap">
    <table class="table table-sm table-hover">
      <caption class="ms-4">
        <div class="d-flex align-items-center justify-content-between">
          <div class="mr-auto">
            <%= page_entries_info @work_orders, entry_name: 'item' %>
          </div>
          <%= paginate @work_orders, remote: true %>
        </div>
      </caption>
      <thead>
      <tr>
        <%= simple_search_form_for @ransack do |f| %>
          <th>
            <%= sort_link(@ransack, :date, t('activerecord.attributes.work_order.created_at'), default_order: :desc) %>
          </th>
          <th>
            <%= sort_link(@ransack, :number, t('activerecord.attributes.work_order.number'), default_order: :desc) %>
          </th>
          <th>
            <%= sort_link(@ransack, :car_plate_number, t('activerecord.attributes.work_order.car'), default_order: :desc) %>
          </th>
          <th><%= t('activerecord.attributes.work_order.description')%></th>
          <th>
            <%= sort_link(@ransack, :city, t('activerecord.attributes.work_order.city'), default_order: :desc) %>
          </th>
          <th>
            <%= sort_link(@ransack, :duration, t('activerecord.attributes.work_order.duration'), default_order: :desc) %>
          </th>
          <th>
            <%= sort_link(@ransack, :start_mileage, t('activerecord.attributes.work_order.start_mileage'), default_order: :desc) %>
          </th>
          <th>
            <%= sort_link(@ransack, :start_mileage, t('activerecord.attributes.work_order.start_mileage'), default_order: :desc) %>
          </th>
          <th>
            <%= sort_link(@ransack, :final_mileage, t('activerecord.attributes.work_order.final_mileage'), default_order: :desc) %>
          </th>
          <th>
            <%= sort_link(@ransack, :employee_full_name, t('activerecord.attributes.work_order.employee'), default_order: :desc) %>
          </th>
          <th><%= t('activerecord.attributes.work_order.status')%></th>
          <th class="d-print-none"></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @work_orders.each do |work_order| %>
        <tr>
          <% if can? :update, WorkOrder %>
            <td><%= link_to work_order.number, edit_work_order_path(work_order) %></td>
            <td><%= link_to work_order.car_plate_number, edit_car_path(work_order.car) %></td>
          <%else %>
            <td><%= work_order.number%></td>
            <td><%= work_order.car_plate_number%></td>
          <%end %>
          <td><%= work_order.city %></td>
          <td><%= datetime_format(work_order.start_date) %></td>
          <td><%= datetime_format(work_order.final_date) %></td>
          <td><%= work_order.description %></td>
          <td><%= work_order.employee_full_name %></td>
          <td><%= add_status(work_order.status) %></td>
          <td class="d-print-none">
            <%= render(partial: 'components/action_buttons', locals: { model: work_order })%>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
