<%= render "search_form", ransack: @ransack %>

<div class="card">
  <h5 class="card-header">
    <%= t('activerecord.models.work_order.other') %>
    <% if can? :create, WorkOrder %>
      <%= link_to t('buttons.new'), new_work_order_path, class: 'btn btn-primary' %>
      <%= link_to content_tag(:i, nil, class: 'bx bx-spreadsheet'),
                  work_orders_path(params: session['work_orders'], format: 'xlsx' ),
                  class: 'btn btn-secondary',
                  title: 'Exportar a Excel'%>
    <% end %>
  </h5>

  <%= render(WorkOrderTableComponent.new(work_orders: @work_orders, ransack: @ransack)) %>
</div>