<div id="<%= dom_id car %>">
  <p>
    <strong>Chapa:</strong>
    <%= car.chapa %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= car.marca %>
  </p>

  <p>
    <strong>Modelo:</strong>
    <%= car.modelo %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= car.color %>
  </p>

  <p>
    <strong>Chasis:</strong>
    <%= car.chasis %>
  </p>

  <p>
    <strong>Motor:</strong>
    <%= car.motor %>
  </p>

</div>
