<div id="<%= dom_id car %>">
  <p>
    <strong>Make:</strong>
    <%= car.make %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= car.model %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= car.color %>
  </p>

  <p>
    <strong>Plate number:</strong>
    <%= car.plate_number %>
  </p>

  <p>
    <strong>Chassis:</strong>
    <%= car.chassis %>
  </p>

  <p>
    <strong>Engine:</strong>
    <%= car.engine %>
  </p>

</div>
