<div class="card mb-4">
  <h5 class="card-header">
    <%= t('.form')%>
  </h5>
  <div class="card-body">
    <%= simple_form_for car, class: 'form-floating' do |f| %>
      <% if car.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>
    
          <ul>
            <% car.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class='row'>
        <div class='form-floating'>
          <%= f.input_field :make, class:'form-control', 'aria-describedby':"floatingInputHelp" %>
          <%= f.label :make, for: 'floatingInput' %>
          <!-- <div id="floatingInputHelp" class="form-text">We'll never share your details with anyone else.</div>-->
        </div>
      </div>
      <div class='mt-2'>
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>
      
    <% end %>
  </div>
</div>
