<div class="card mb-4">
  <h5 class="card-header">
    <%= t('.form')%>
  </h5>
  <div class="card-body">
    <%= simple_form_for car, class: 'form-floating' do |f| %>
      <div class='row'>
        <div class="col-xl-4 mb-3">
          <div class='form-floating'>
            <%= f.input_field :make, class:'form-control', 'aria-describedby':"floatingInputHelp", autofocus: true %>
            <%= f.label :make, for: 'floatingInput' %>
          </div>
        </div>
        <div class="col-xl-4 mb-3">
          <div class='form-floating'>
            <%= f.input_field :model, class:'form-control', 'aria-describedby':"floatingInputHelp" %>
            <%= f.label :model, for: 'floatingInput' %>
          </div>
        </div>
        <div class="col-xl-4 mb-3">
          <div class='form-floating'>
            <%= f.input_field :plate_number, class:'form-control', 'aria-describedby':"floatingInputHelp" %>
            <%= f.label :plate_number, for: 'floatingInput' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class='mb-3'>
          <div class='form-floating'>
            <%= f.input_field :color, as: :color, class:'form-control', 'aria-describedby':"floatingInputHelp" %>
            <%= f.label :color, for: 'floatingInput' %>
          </div>
        </div>
        <div class='mb-3'>
          <div class='form-floating'>
            <%= f.input_field :chassis, class:'form-control', 'aria-describedby':"floatingInputHelp" %>
            <%= f.label :chassis, for: 'floatingInput' %>
          </div>
        </div>
        <div class='mb-3'>
          <div class='form-floating'>
            <%= f.input_field :engine, class:'form-control', 'aria-describedby':"floatingInputHelp" %>
            <%= f.label :engine, for: 'floatingInput' %>
          </div>
        </div>
        <div class='mb-3'>
          <div class='form-floating'>
            <%= f.input_field :rasp, class:'form-control', 'aria-describedby':"floatingInputHelp" %>
            <%= f.label :rasp, for: 'floatingInput' %>
          </div>
        </div>
        <div class='mb-3'>
          <div class='form-floating'>
            <%= f.input :horometro, class:'form-control', 'aria-describedby':"floatingInputHelp" %>
          </div>
        </div>
      </div>
      <div class='mb-3'>
        <%= f.button 'submit', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
