<%= search_form_for @q do |f| %>
  <div class="row align-items-start p-3">
    <div class="col">
      <div class='form-floating'>
        <%= f.search_field :make_start, class:'form-control', 'aria-describedby':"floatingInputHelp" %>
        <%= f.label :make, for: 'floatingInput' %>
      </div>
    </div>
    <div class="col">
      <div class='form-floating'>
        <%= f.search_field :model_start, class:'form-control col-auto', 'aria-describedby':"floatingInputHelp" %>
        <%= f.label :model, for: 'floatingInput' %>
      </div>
    </div>
    <div class="col">
      <div class='form-floating'>
        <%= f.search_field :color_start, class:'form-control', 'aria-describedby':"floatingInputHelp" %>
        <%= f.label :color, for: 'floatingInput' %>
      </div>
    </div>
    <div class="col">
      <div class='form-floating'>
        <%= f.search_field :engine_start, class:'form-control', 'aria-describedby':"floatingInputHelp" %>
        <%= f.label :engine, for: 'floatingInput' %>
      </div>
    </div>
    <div class="col">
      <%= f.button content_tag(:i, nil, class:'bx bx-search-alt'), class:'btn btn-secondary'  %>
    </div>
  </div>
<% end %>