<p style="color: green"><%= notice %></p>

<h4 class="fw-bold py-3 mb-4">
  <span class="text-muted fw-light"><%= t('navbar.car') %> /</span> <%= t('navbar.new') %>
</h4>

<div id="cars">
  <% @cars.each do |car| %>
    <%= render car %>
    <p>
      <%= link_to "Show this car", car %>
    </p>
  <% end %>
</div>

<%= link_to "New car", new_car_path %>
