<%= search_form_for @q do |f| %>
  <div class="row align-items-start p-3">
    <div class="col">
      <div class='form-floating'>
        <%= f.search_field :make_start, class:'form-control', 'aria-describedby':"floatingInputHelp" %>
        <%= f.label :make, for: 'floatingInput' %>
      </div>
    </div>
    <div class="col">
      <div class='form-floating'>
        <%= f.search_field :model_start, class:'form-control col-auto', 'aria-describedby':"floatingInputHelp" %>
        <%= f.label :model, for: 'floatingInput' %>
      </div>
    </div>
    <div class="col">
      <div class='form-floating'>
        <%= f.search_field :color_start, class:'form-control', 'aria-describedby':"floatingInputHelp" %>
        <%= f.label :color, for: 'floatingInput' %>
      </div>
    </div>
    <div class="col">
      <div class='form-floating'>
        <%= f.search_field :engine_start, class:'form-control', 'aria-describedby':"floatingInputHelp" %>
        <%= f.label :engine, for: 'floatingInput' %>
      </div>
    </div>
    <div class="col">
      <%= f.button content_tag(:i, nil, class:'bx bx-search-alt'), class:'btn btn-secondary'  %>
    </div>
  </div>
<% end %>

<div class="card">
  <h5 class="card-header">
    <%= t('activerecord.models.car.other') %>
    <%= link_to t('buttons.new'), new_car_path, class: 'btn btn-primary' %>
  </h5>

  <div class="table-responsive text-nowrap">
    <table class="table">
      <caption class="ms-4">

        <div class="d-flex align-items-center justify-content-between">
          <div class="mr-auto">
            <%= page_entries_info @cars, entry_name: 'item' %>
          </div>
          <%= paginate @cars, remote: true %>
        </div>
      </caption>
      <thead>
        <tr>
          <%= search_form_for @q do |f| %>
            <th>
              <%= sort_link(@q, :plate_number, t('activerecord.attributes.car.plate_number'), default_order: :asc) %>
            </th>
            <th>
              <%= sort_link(@q, :make, t('activerecord.attributes.car.make'), default_order: :asc) %>
            </th>
            <th>
              <%= sort_link(@q, :model, t('activerecord.attributes.car.model'), default_order: :asc) %>
            </th>
            <th>
              <%= sort_link(@q, :color, t('activerecord.attributes.car.color'), default_order: :asc) %>
            </th>
            <th>
              <%= sort_link(@q, :chassis, t('activerecord.attributes.car.chassis'), default_order: :asc) %>
            </th>
            <th>
              <%= sort_link(@q, :engine, t('activerecord.attributes.car.engine'), default_order: :asc) %>
            </th>
            <th class="d-print-none"></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @cars.each do |car| %>
          <tr>
            <td><strong><%= link_to car.plate_number, car_path(car) %></strong></td>
            <td><%= car.make %></td>
            <td><%= car.model %></td>
            <td>
              <%= content_tag(:span, " ", class:"badge", style:"background-color: #{car.color};") %>
            </td>
            <td><%= car.chassis %></td>
            <td><%= car.engine %></td>
            <td class="d-print-none">
            <td class="d-print-none">
              <%= render(partial: 'components/action_buttons', locals: { model: car })%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
