<%= render 'search_form', ransack: @ransack %>

<div class="card">
  <h5 class="card-header">
    <%= t('activerecord.models.car.other') %>
    <% if can? :create, Car %>
      <%= link_to t('buttons.new'), new_car_path, class: 'btn btn-primary' %>
    <%end %>
  </h5>

  <div class="table-responsive text-nowrap">
    <table class="table">
      <caption class="ms-4">

        <div class="d-flex align-items-center justify-content-between">
          <div class="mr-auto">
            <%= page_entries_info @cars, entry_name: 'item' %>
          </div>
          <%= paginate @cars, remote: true %>
        </div>
      </caption>
      <thead>
        <tr>
          <%= search_form_for @ransack do |f| %>
            <th>
              <%= sort_link(@ransack, :type_car, t('activerecord.attributes.car.type_car'), default_order: :asc) %>
            </th>
            <th>
              <%= sort_link(@ransack, :make, t('activerecord.attributes.car.make'), default_order: :asc) %>
            </th>
            <th>
              <%= sort_link(@ransack, :model, t('activerecord.attributes.car.model'), default_order: :asc) %>
            </th>
            <th>
              <%= sort_link(@ransack, :plate_number, t('activerecord.attributes.car.plate_number'), default_order: :asc) %>
            </th>
            <th>
              <%= sort_link(@ransack, :rasp, t('activerecord.attributes.car.rasp'), default_order: :asc) %>
            </th>
            <th>
              <%= sort_link(@ransack, :chassis, t('activerecord.attributes.car.chassis'), default_order: :asc) %>
            </th>
            <th>
              <%= sort_link(@ransack, :year, t('activerecord.attributes.car.year'), default_order: :asc) %>
            </th>
            <th>
              <%= sort_link(@ransack, :color, t('activerecord.attributes.car.color'), default_order: :asc) %>
            </th>
            <th>
              <%= sort_link(@ransack, :assigned_dependency, t('activerecord.attributes.car.assigned_dependency'), default_order: :asc) %>
            </th>
            <th class="d-print-none"></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @cars.each do |car| %>
          <tr>
            <td><%= car.type_car %></td>
            <td><%= car.make %></td>
            <td><%= car.model %></td>
            <% if can? :update, Car %>
              <td><strong><%= link_to car.plate_number, car_path(car) %></strong></td>
            <%end %>
            <td><%= car.rasp %></td>
            <td><%= car.chassis %></td>
            <td><%= car.year %></td>
            <td>
              <%= content_tag(:span, " ", class:"badge", style:"background-color: #{car.color};") %>
            </td>
            <td><%= car.assigned_dependency %></td>
            <td class="d-print-none">
            <td class="d-print-none">

              <%= render(partial: 'components/action_buttons', locals: { model: car })%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
