<div id="<%= dom_id repair %>">
  <p>
    <strong>Date:</strong>
    <%= repair.date %>
  </p>

  <p>
    <strong>Car:</strong>
    <%= repair.car_id %>
  </p>

  <p>
    <strong>Mechanical workshop:</strong>
    <%= repair.mechanical_workshop_id %>
  </p>

  <p>
    <strong>Repairs:</strong>
    <%= repair.repairs %>
  </p>

</div>
