<!DOCTYPE html >
<html id="html-document" lang="en">
<head>
  <title>
    <%= SystemSettings[:site_name] %>
  </title>
  <%= favicon_link_tag asset_path(SystemSettings[:favicon]) %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
  <body>
    <% if user_signed_in? %>
      <%= render "layouts/menu" %>
    <% else %>
      <div id="principal-content">
        <%= render "layouts/devise" %>
      </div>
    <% end %>

  </body>
</html>
